.content{
    width: 100%;
    min-width: 1200px;
    padding-top: 20px;
    background: #e2e2e2;
}
.content_box{
    width: 98%;
    height: 100%;
    margin: auto;
}
.similar_piece{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 30px;
    background: #fff;
}
.similar_piece>div{
    width: 49%;
}
.piece_left p{
    line-height: 25px;
}
.similar_percent{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#FF9900;
    font-weight: bold;
    margin: 5px 0;
}
.similar_color{
    color:#FF9900;
    font-weight: bold;
}
.part{
    text-indent: 2em;
}
.red{
    color: #fe0000;
}
.similar_distribute{
    margin-top: 20px;
}
.distribute_module{
    width: 80%;
    display: -webkit-flex;
    display: flex;
    margin-top: 10px;
}
.distribute_module>div{
    flex:1;
    -webkit-flex: 1;
    height: 10px;
    background: #65b7b1;
    position: relative;
}
.similar_active{
    width: 60.19%;
    height: 100%;
    background: #fe0000;
    position: absolute;
    left: 0;
    top: 0;
}
.part_box{
    width: 80%;
    display: -webkit-flex;
    display: flex;
}
.part_box li{
    flex:1;
    -webkit-flex: 1;
    line-height: 22px;
    text-align: center;
}
.middle_li{
    border-right: 1px solid #a1a1a1;
    border-left: 1px solid #a1a1a1;
}
.piece_top{
    display: -webkit-flex;
    display: flex;
    padding: 0 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: #f7fcff;
}
.piece_box>p{
    line-height: 25px;
    padding-left: 5px;
}
.net_on{
    font-weight: bold;
    margin-top: 20px;
    padding-left: 5px;
}
.piece_box .net_detail div {
    padding: 5px 0 0 5px;
}
.piece_box .net_detail {
    padding-bottom: 5px;
}
.title{
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 5px;
}

/** gb add*/
.distribute_module {
    width: 80%;
    height: 10px;
    background: cadetblue;
    position: relative;
}

.distribute_module p {
    height: 100%;
    position: absolute;
    background: red;
    float: left;
    cursor: pointer;
    z-index: 1;
}

red {
    color: #fe0000;
}

green {
    color: #fe0000;
}
